.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.header {
  color: #5dc7d5;
}
.input {
  /* color: #ffffff; */
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
  padding: 6px 10px;
  /* background: #61dafb; */
}
.button {
  border-radius: 6px;
  border: 1px solid #5dc7d5;
  outline: none;
  font-weight: 600;
  background: #c8e17a;
  color: #ffffff;
  cursor: pointer;
}
